body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
}

#gameContainer {
    text-align: center;
}

canvas {
    border: 2px solid #333;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.7);
}

#scoreText {
    font-size: 24px;
    font-weight: bold;
    margin: 20px 0;
}

#resetButton {
    padding: 10px 20px;
    font-size: 24px;
    background-color: #6eff73;
    color: #000000;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    border: 2px solid black;
}

#resetButton:hover {
    background-color: #008106;
    color: #FFFFFF;
}

#resetButton:focus {
    outline: none;
}
